<div class="container-fluid" style="width: 90%;margin: auto;">
  <div class="airbnbStay__title"><h3>Onde ficar</h3></div>

  <div class="row">
    <% searched_homes.forEach(function(home) { %>

    <div class="col-lg-3 col-md-3 col-sm-6 home" style="width: 18rem;">
      <img
        src="<%= home.main_image %>"
        alt="Card image cap"
        class="house-image"
      />
      <div>
        
        <p><span class="home__description-beds"><%= home.description %></span> · <span class="home__description-beds"><%= home.beds %> camas</span></p>
        <p><span class="home__name"><%= home.name %></span></p>

        <p><span class="home__price"><%= home.price %>€</span></p>
        <p class="card-text"><%= home.rating %> estrelas</p>
      </div>
    </div>

    <% }) %>
  </div>
</div>
