<div class="container" style="width: 82%;margin: auto;">

  <div class="airbnbStay__title"><h3>Onde ficar</h3></div>

  <div class="row">

      <% rome.forEach(function(home) { %>

        <div class="card col-lg-3 col-md-3 col-sm-6" style="width: 18rem;">
            <img class="card-img-top" src=<%= home.url %> alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title"><%= home.title %></h5>
              <p class="card-text"><%= home.price %>€</p>
              <p class="card-text"><%= home.stars %> estrelas</p>
              <p class="card-text"><%= home.description %></p>
              <p class="card-text">Quartos: <%= home.beds %></p>

            </div>
          </div>
        
      <%}); %>



  </div>
</div>
